---
import BenefitList from '#/components/benefit-list/BenefitList.astro';
import DocumentationSection from '#/components/documentation-section/DocumentationSection.astro';
import FeatureSection from '#/components/feature-section/FeatureSection.astro';
import Footer from '#/components/footer/Footer.astro';
import Header from '#/components/header/Header.astro';
import Hero from '#/components/hero/Hero.astro';
import styles from '#/components/home-page/HomePage.module.scss';
import ArticlesSection from '#/components/sections/ArticlesSection.astro';
import WorkflowPanels from '#/components/workflow-panels/WorkflowPanels.astro';
---

<Header/>

<main class={styles.homePage}>
    <Hero/>
    <BenefitList/>
    <FeatureSection/>
    <WorkflowPanels/>
    <DocumentationSection/>
    <ArticlesSection/>
</main>

<Footer/>
