---
import BenefitList from '#/components/BenefitList/BenefitList.astro';
import DocumentationSection from '#/components/DocumentationSection/DocumentationSection.astro';
import FeatureSection from '#/components/FeatureSection/FeatureSection.astro';
import Footer from '#/components/Footer/Footer.astro';
import Header from '#/components/Header/Header.astro';
import Hero from '#/components/Hero/Hero.astro';
import styles from '#/components/HomePage/HomePage.module.scss';
import ArticlesSection from '#/components/sections/ArticlesSection.astro';
import WorkflowPanels from '#/components/WorkflowPanels/WorkflowPanels.astro';
---

<Header/>

<main class={styles.homePage}>
    <Hero/>
    <BenefitList/>
    <FeatureSection/>
    <WorkflowPanels/>
    <DocumentationSection/>
    <ArticlesSection/>
</main>

<Footer/>
