*.ids
*.iml
*.ipr
*.iws
.idea*
.vscode/
node_modules/
.astro/
build/
dist/
bin/
lib/
core/build/
core/lib/
core/node_modules/
cli/build/
cli/bin/
cli/node_modules/
*.tgz
*.log
.env*
out/
logs/
coverage/
.local-agent/
