.benefits {
    width: min(var(--semantic-size-maxWidthPage), calc(100% - var(--semantic-space-6)));
    margin: var(--semantic-space-0) auto;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--semantic-space-0);
        align-items: center;
        margin: var(--semantic-space-0);
        padding: var(--semantic-space-0);
        list-style: none;
    }

    li {
        position: relative;
        display: inline-flex;
        gap: var(--semantic-space-3);
        align-items: center;
        padding: var(--semantic-space-2) var(--semantic-space-6);
        color: var(--semantic-color-text-secondary);
        font-size: var(--semantic-font-size-base);
        font-weight: var(--semantic-font-weight-medium);
        line-height: var(--primitive-font-lineHeight-cozy);
    }

    li:first-child {
        padding-left: var(--semantic-space-0);
    }

    li:not(:last-child)::after {
        position: absolute;
        top: 50%;
        right: var(--semantic-space-0);
        width: var(--primitive-size-borderWidthSm);
        height: var(--primitive-size-footerLogo);
        content: "";
        background: var(--semantic-color-border-default);
        transform: translateY(-50%);
    }

    img {
        width: var(--primitive-size-iconXl);
        height: var(--primitive-size-iconXl);
    }
}

@media (min-width: 82rem) {
    .benefits {
        width: min(var(--semantic-size-maxWidthPageWide), calc(100% - var(--semantic-space-6)));
    }
}

@media (max-width: 56rem) {
    .benefits {
        margin-top: var(--semantic-space-5);
    }

    .benefits ul {
        align-items: flex-start;
        flex-direction: column;
        gap: var(--semantic-space-3);
    }

    .benefits li {
        padding: var(--semantic-space-0);
    }

    .benefits li:not(:last-child)::after {
        display: none;
    }
}

@media (max-width: 32rem) {
    .benefits {
        width: min(var(--semantic-size-maxWidthPage), calc(100% - var(--semantic-space-5)));
    }
}
