---
import benefitFormatAgnosticIcon from '#/assets/icons/benefit-format-agnostic.svg';
import benefitProductionReadyIcon from '#/assets/icons/benefit-production-ready.svg';
import benefitTypeSafeIcon from '#/assets/icons/benefit-type-safe.svg';
import styles from '#/components/benefit-list/BenefitList.module.scss';
import type { ImageMetadata } from 'astro';

interface BenefitItem {
    title: string;
    icon: ImageMetadata;
}

const items: BenefitItem[] = [
    {
        title: 'Type-safe',
        icon: benefitTypeSafeIcon,
    },
    {
        title: 'Format agnostic',
        icon: benefitFormatAgnosticIcon,
    },
    {
        title: 'Production ready',
        icon: benefitProductionReadyIcon,
    },
];
---

<section class={styles.benefits} aria-label="Short benefits">
    <ul>
        {items.map((item) => (
            <li>
                <img src={item.icon.src} width="28" height="28" alt="" />
                <span>{item.title}</span>
            </li>
        ))}
    </ul>
</section>
